  <!DOCTYPE html>
  <html>
    <link rel="stylesheet" href="multiplayerwebsite/imageslider.css">
    <body>
        <div class="slider">
            <div class="slides">
                <img src="multiplayerwebsite/images/four-people-are-running-through-dense-jungle-they-are-all-carrying-weapons-look-like-they-are-being-chased_14117-360107.jpg" alt="slide 1">
                <img src="multiplayerwebsite/images/uwp4232558.jpeg" alt="slide 2">
            </div>
        </div>
    </body>
  </html>